{% extends "base-profile.html.jinja" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<h1>{{ profile.name }}</h1>
<p>{{ profile.title }}</p>
<div>
{% for contact in profile.contacts %}
    <span class="xsmall chip">{{ contact | contact }}</span>
{% endfor %}
</div>

<div class="pure-g" style="font-size: 10pt;">
    <div class="pure-u-5-8" style=" line-height: 1rem;">
        <h1>Summary</h1>
        <div>{{ profile.description | markdown }}</div>
        <h1>Experience</h1>
        {% for experience in profile.experiences %}
            <div>
                <b>{{ experience.position }}</b> at <b>{{ experience.company }}</b><br>
                {{ experience.start_date }} - {{ experience.end_date }}<br>

                {{ experience.description | markdown }}

                {% for technology in experience.technologies %}
                    <span class="xsmall chip">{{ technology }}</span>{% if not loop.last %}&bull;{%endif%}
                {% endfor %}
            </div>
        {% endfor %}
        <h1>Education</h1>
        {% for education in profile.educations %}
            <div>
                <b>{{ education.school }}</b><br>
                {{ education.degree }},&nbsp;{{ education.start_date }}&nbsp;-&nbsp;{{ education.end_date }}
            </div>
        {% endfor %}

    </div>
    <div class="pure-u-3-8">
        <h1>Strengths</h1>
        <div>

            {% for strength in profile.strengths %}
                <span class="xsmall chip">{{ strength }}</span>
            {% endfor %}
        </div>
        <h1>Skills</h1>
        <div>

            {% for skill in profile.skills %}
                <span class="xsmall chip">{{ skill }}</span>
            {% endfor %}
        </div>
    </div>
</div>
<style>
h1 {
    font-size: 14pt;
}
</style>

{% endblock %}