{% extends "base.html.jinja" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<h1 class="editable" name="profile.name">{{ profile.name }}</h1>
<p class="editable" name="profile.title">{{ profile.title }}</p>
<div name="profile.contacts" data-type="array">
{% for contact in profile.contacts %}
    <span class="small" data-type="item">
        <span name="type" contentEditable="true" data-type="prop">{{contact.type}}</span>:&nbsp;<span name="value" contentEditable="true">{{contact.value}}</span>
    </span>
{% endfor %}
</div>

<div class="pure-g">
    <div class="pure-u-3-4">
        <h1>Summary</h1>
        <code name="profile.description" contentEditable="true"><pre>{{ profile.description }}</pre></code>
        <h1>Experience</h1>
        {% for experience in profile.experiences %}
            <div>
                <b>{{ experience.position }}</b> at <b>{{ experience.company }}</b><br>
                {{ experience.start_date }} - {{ experience.end_date }}<br>
                <code contentEditable="true"><pre>{{ experience.description }}</pre></code>

                {% for technology in experience.technologies %}
                    <span class="dotted rounded xsmall chip" contentEditable="true">{{ technology }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <h1>Education</h1>
        {% for education in profile.educations %}
            <div>
                <b>{{ education.school }}</b><br>
                {{ education.degree }},&nbsp;{{ education.start_date }}&nbsp;-&nbsp;{{ education.end_date }}
            </div>
        {% endfor %}

    </div>
    <div class="pure-u-1-4 col">
        <div>
            <h1>Strengths</h1>
            {% for strength in profile.strengths %}
                <span class="dotted rounded xsmall chip">{{ strength }}</span>
            {% endfor %}
        </div>
        <div>
            <h1>Skills</h1>
            {% for skill in profile.skills %}
                <span class="dotted rounded xsmall chip">{{ skill }}</span>
            {% endfor %}
        </div>
    </div>
</div>



<script type="text/javascript" src="{{ url_for('static', filename='js/profile-edit.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-edit.css') }}" />


{% endblock %}